/*------------------------------------*/

/*---------- BASIC SETTINGS ----------*/

/*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  line-height: 1.4rem;
  word-spacing: 2px;
}

body {
  position: relative;
  overflow: hidden;
}

/*---------------------------------------*/

/*---------- REUSABLE SETTINGS ----------
-webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
---------------------------------------*/

.row {
  margin: 0 auto;
}

section {
  /*border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;*/
}

header {
}

footer {
}

.clear-fix {
  zoom: 1;
}
.clear-fix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

/*-----------------------------------------HEADINGS--------------------------------------------------------*/

h1 {
  margin: 0;
  font-weight: 100;
  font-size: 300%;
  text-align: right;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 200%;
  font-weight: 100;
  word-spacing: 2px;
  text-align: center;
  margin: 0 auto 20px auto;
  padding: 20px 1% 5px 1%;
  /*
    border-top: 0px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-bottom: 7px solid #7d4427;
    */
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 2.75rem;
}

h3 {
  font-size: 110%;
  text-transform: uppercase;
}

h3,
a {
  line-height: 1rem;
}

/*h2:after {
    display: block;
    height: 3px;
    background-color: #7d4427;
    content: " ";
    width: 100%;
    margin-top: 20px; 
}*/

.hero-box h2 {
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-weight: 900;
  font-size: 200%;
  padding: 0 !important;
  text-transform: uppercase;
}

#section-cover h2,
.section-cause h2,
.section-origin h2,
.section-effect h2,
.section-solution h2,
.footer-title {
  width: fit-content;
  font-size: 240%;
  font-weight: 600;
  border-bottom: 4px solid #fff;
  padding: 0 20px 0 20px;
  transform-origin: center;
  transition: all 0.2s;
}

.section-cause h2,
#section-cover h2,
.section-origin h2,
.section-effect h2,
.section-solution h2 {
  border-color: #00ff19;
}

.section-origin h2 {
  margin-bottom: 55px;
}

#section-cover h2:hover,
.footer-title:hover,
.section-origin h2:hover,
.section-effect h2:hover,
.section-solution h2:hover {
  transform: scale(1.05);
}

.synopsis-title {
  float: right;
}

#section-synopsis h2 {
  width: fit-content;
  position: relative;
  height: 110px;
  display: block;
  left: 50%;
  transform-origin: left;
  transform: translate(-50%, 0%);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0px 0 20px;
  font-size: 240%;
  font-weight: 600;
  text-align: left;
  border-left: 4px solid #00ff19;
  transition: all 0.2s;
}

#section-synopsis h2:hover {
  transform: translateX(-47.5%);
}

#section-synopsis-detail h2,
.solution-h2 {
  width: fit-content;
  position: relative;
  display: block;
  left: -50%;
  transform-origin: right;
  transform: translate(50%, 0%);
  margin: 0 auto 20px auto;
  margin-bottom: 0;
  padding: 0 20px 0 5px;
  font-size: 240%;
  font-weight: 600;
  text-align: left;
  border-bottom: 4px solid #00ff19;
  transition: all 0.2s;
}

#section-synopsis-detail h2:hover,
.solution-h2:hover {
  transform: translateX(52.5%);
}

.section-youtube h2 {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  display: block;
  font-size: 240%;
  font-weight: 1000;
  border-bottom: 4px solid #00ff19;
  transition: all 0.2s;
  left: 50%;
  transform-origin: right;
  transform: translate(-50%, 100%);
  padding: 0 20px;
  text-align: left;
  color: #fff;
}

.section-youtube h2:hover {
  transform: translate(-52.5%, 100%);
}

.footer-title {
  font-size: 200%;
  color: #fff;
  border-color: #00ff19;
  text-transform: lowercase;
  line-height: 2rem;
}

/*----------------------------------------------- HOMEPAGE  ---------------------------------------------------*/

header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url(img/loneliness.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

.hero-box {
  width: 50%;
  text-align: right;
  float: right;
  font-family: "Poppins", sans-serif;
  padding-right: 3%;
  margin: 0;
  position: relative;
  top: 40%;
  transform: translate(0%, -50%);
  font-size: 120%;
  color: #fff;
}

.hero-box p {
  float: right;
  margin-top: -20px;
  margin-left: 11%;
}

.btn-discover:link,
.btn-discover:visited {
  display: block;
  position: relative;
  left: 30%;
  background-color: #00ff19;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 15px 30px;
  margin-top: 25px;
  border-radius: 200px;
  text-decoration: none;
  color: rgb(12, 12, 16);
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  -webkit-transform-origin: top left;
  transform-origin: top right;
}

.btn-discover:hover,
.btn-discover:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/*----------------------------------------------- NAVIGATION  ---------------------------------------------------*/
nav {
  margin: 0;
  background-color: rgba(12, 12, 16);
  width: 100% !important;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.5);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.5);
}

.sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.main-nav {
  margin: 0;
  height: 55px;
  width: 100%;
}

.nav-section {
  float: right;
  margin: 0;
  list-style: none;
  position: absolute;
  right: 1%;
  width: 100%;
  height: 55px;
  position: absolute;
  top: 0;
  display: inline-block;
}

.nav-section li {
  display: inline-block;
  font-size: 100%;
  width: 14.285714286%;
  float: left;
}

.nav-section li div {
  display: inline-block;
  -o-object-position: center;
  object-position: center;
  height: 55px;
  width: 100%;
  border-top: 14px solid transparent;
  font-weight: 600;
}

#headline,
#headline-mobile {
  border-top: 0px;
}

#headline-mobile {
  display: none;
}

#headline div,
#headline-mobile div {
  width: fit-content;
  height: fit-content;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 115%;
  color: #fff;
  border-top: 0px;
  border-bottom: 3.5px solid #00ff19;
  padding: 0 8%;
  font-weight: 600;
}

#bgndVideo {
  width: 100%;
  height: 80%;
}

.nav-section li div a:link,
.nav-section li div a:visited {
  display: inline-block;
  text-align: center;
  font-size: 90%;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0 6.5% !important;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
}

.nav-section li div a:hover,
.nav-section li div a:active {
  border-bottom: 2px solid #00ff19;
  color: #00ff19;
}

#icon img,
#icon-mobile img {
  width: 127.856226px;
  height: 50px;
  margin-left: 30px;
  margin-top: 3.5px;
  transition: all 0.2s;
}

#icon-mobile img {
  margin-left: 15px;
}

#icon img:hover {
  content: url("img/realive-green1.png");
}
#icon-mobile img:hover {
  content: url("img/realive-green.png");
}

#icon {
  border: 0px !important;
}

#icon-mobile {
  display: none;
  width: 130px;
  height: 100%;
}

/*----------------------------------------------- SECTION-cover  ---------------------------------------------------*/

#section-cover {
  width: 100%;
  padding: 30px 2.5% 55px 2.5%;
  z-index: 20;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.25),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 1)
    ),
    url(img/Loneliness-2.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0px 10px 0px rgba(32, 33, 36, 0.75);
  box-shadow: 0 0px 10px 0px rgba(32, 33, 36, 0.75);
  z-index: 10;
}

#section-cover a {
  width: fit-content;
  padding: 10.5px 40px;
  color: #000;
  background-color: #4fc6fc;
  border-radius: 200px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: block;
  margin: 15 auto 0 auto;
  box-shadow: 0 1px 3px 1px rgba(64, 60, 67, 0.26);
}

#section-cover a:hover {
  transform: scale(1.05);
}

/*----------------------------------------------- SECTION-synopsis  ---------------------------------------------------*/

#section-synopsis {
  width: 100%;
  padding: 30px 12.5%;
  z-index: 20;
}

#section-synopsis div:first-child div {
  padding-top: 32px;
}

#section-synopsis-detail img {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  left: 50%;
  margin: 8px -50% 0 0;
  transform: translate(-50%, 0);
}

#synopsis-svg {
  width: 255px;
  height: 108px;
  margin-top: -24px;
  float: left;
  transform: scaleX(-1);
}

.synopsis-para-row {
  margin-top: -13px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    url(img/synopsis.jpg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

#section-synopsis div:last-child div {
  float: left;
  text-align: right;
}

/*----------------------------------------------- SECTION-synopsis-detail  ---------------------------------------------------*/

#section-synopsis-detail {
  padding: 30px 2.5%;
  width: 90%;
  background: #4fc6fc;
  border-radius: 31px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  box-shadow: 0 0px 5px 1px rgba(64, 60, 67, 0.26);
  text-align: center;
}

/*----------------------------------------------- SECTION-YOUTUBE  ---------------------------------------------------*/

.section-youtube {
  width: 100%;
  height: fit-content;
  padding: 55px 2.5%;
  background-color: #222222;
  margin-top: 55px;
  -webkit-box-shadow: 0 0px 10px 2px rgba(32, 33, 36, 0.75);
  box-shadow: 0 0px 10px 2px rgba(32, 33, 36, 0.75);
  z-index: 10;
}

.section-youtube iframe {
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.section-youtube div {
  height: 375px;
  background-color: #181818;
  margin-left: 0px;
  padding: 30px;
}

/*----------------------------------------------- SECTION-origin,cause,effect  ---------------------------------------------------*/

.section-cause,
.section-origin {
  padding: 55px 2.5%;
  box-shadow: 0px 21px 10px -18px rgba(32, 33, 36, 0.75) inset;
}

#section-cause-link,
#section-origin-link,
#section-effect-link {
  margin-top: 0 !important;
  box-shadow: 0 0px 10px 2px rgba(32, 33, 36, 0.75);
  z-index: 10;
}
#section-origin-link,
#section-effect-link {
  height: 54px;
}

.section-cause div li h3,
.section-effect h3 {
  width: fit-content;
  margin: 30px 0 15px 0;
  padding: 0 10px 0 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.section-cause div li h3:hover,
.section-effect h3:hover {
  border-color: #00ff19;
}

/*----------------------------------------------- SECTION-origin  ---------------------------------------------------*/

.section-origin {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(17, 17, 17, 0.75),
      rgba(17, 17, 17, 0.9),
      rgba(17, 17, 17, 0.9),
      rgba(17, 17, 17, 1),
      rgb(17, 17, 17)
    ),
    url(img/Loneliness-origin.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

.section-origin div {
  float: right;
}

.origin-para-c,
.cause-para-c {
  width: 62.5%;
  margin: 0 auto;
  text-align: center;
}

.origin-para-c:last-child,
.cause-para-c:last-child {
  margin-top: 55px;
}

.origin-para-rs,
.cause-para-rs {
  width: 75%;
  margin-top: 40px;
  margin-left: 25%;
  text-align: right;
}

.origin-para-ls,
.cause-para-ls {
  width: 75%;
  margin-top: 40px;
  text-align: left;
}

/*----------------------------------------------- SECTION-CAUSE  ---------------------------------------------------*/

.section-cause {
  background-image: url(img/modern-city2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.section-cause div {
  position: relative;
  text-align: right;
  height: fit-content;
  margin: 0;
  padding: 55px;
  width: 45%;
  border-radius: 31px;
  background-color: rgba(255, 255, 255);
  text-align: center;
  box-shadow: 0 2px 5px 2px rgba(64, 60, 67, 0.26);
  transition: all 0.3s;
}

.message-ls {
  border-top-left-radius: 0px !important;
  margin-top: 50px !important;
  text-align: left !important;
  transform-origin: top left;
}

.message-ls-hover {
  transform: scale(1.05) !important;
}

.message-ls:first-child {
  padding: 22.5px;
}

.message-ls:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-bottom: 15px solid transparent;
  left: -14px;
  top: 0px;
}
.message-rs {
  border-top-right-radius: 0px !important;
  margin: 50px 0 0 55% !important;
  text-align: right !important;
  background-color: #42b0ff !important;
  transform-origin: top right;
}

.message-rs-hover {
  transform: scale(1.05) !important;
}

.message-rs:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #42b0ff;
  border-right: 15px solid transparent;
  border-top: 15px solid #42b0ff;
  border-bottom: 15px solid transparent;
  right: -14px;
  top: 0px;
}

.section-cause div img {
  transform-origin: center;
  transition: all 0.3s;
}

.section-cause div img:hover {
  transform: scale(1.05);
}

.cause-para-c {
  margin: 0 auto;
  text-align: center;
}

.cause-para-c:last-child {
  margin-top: 55px;
}

.cause-para-rs {
}

.cause-para-ls {
}

/*----------------------------------------------- SECTION-EFFECT  ---------------------------------------------------*/

.section-effect {
  padding: 0px;
}

.effect-1 {
  box-shadow: 0px 21px 10px -18px rgba(32, 33, 36, 0.75) inset;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    url(img/effect.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.effect-2 {
  box-shadow: 0px -11px 10px -18px rgba(0, 0, 0, 0.75) inset;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    url(img/effect-2.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  text-align: right;
}

.effect-ls {
  width: 100%;
  margin: 0;
  padding: 55px 2.5% 0px 2.5%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1)
  );
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.effect-rs {
  width: 100%;
  margin: 0;
  padding: 0px 2.5% 55px 2.5%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1)
  );
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  text-align: right;
}
.effect-rs div {
  float: right;
}

.effect-sep {
  width: 100%;
  height: 55px;
}

/*----------------------------------------------- SECTION-SOLUTION  ---------------------------------------------------*/

.section-solution {
  background-color: rgb(255, 250, 250);
  box-shadow: 0 0px 10px 2px rgba(32, 33, 36, 0.75);
  padding: 55px 0%;
}

#solution-main-para {
  width: 62.5%;
  margin: 0 auto;
  text-align: center;
}

.solution-para-container {
  margin: 55px 0 0 0;
  background-color: #181818;
  padding: 55px 0%;
  position: relative;
}

.solution-para-container:first-child {
  margin-top: 55px;
}

.solution-support-1,
.solution-support-3,
.solution-support-5 {
  background-color: #fff;
  width: 85%;
  margin: 0;
  padding: 25px;
  transition: all 0.3s;
  border-left: 0px solid #00ff19;
  border-right: 0px solid #fff;
  position: relative;
  left: 50%;
  transform: translate(-41.2%, 0);
}

.solution-support-3,
.solution-support-5 {
  margin: 55px 0 0 0;
}

.solution-support-ls-hover {
  width: calc(91.5% + 15px) !important;
  border-left: 7.5vw solid #fff !important;
  border-right: 7.5px solid #00ff19 !important;
}

.solution-support-2,
.solution-support-4 {
  background-color: #fff;
  width: 85%;
  margin: 55px 0 0 0;
  padding: 25px;
  transition: all 0.3s;
  border-left: 0px solid #fff;
  border-right: 0px solid #00ff19;
  position: relative;
  text-align: right;
  left: 0%;
}

.solution-support-rs-hover {
  left: calc(50% - 4.3px);
  width: calc(92.5% + 15px);
  border-left: 7.5px solid #00ff19;
  border-right: 7.5vw solid #fff;
}

.solution-conclusion {
  width: 100%;
  margin: 55px 0 0 0;
  padding: 9.5% 2.5% 2% 2.5%;
  text-align: center;
  background-image: url(img/solution-conclusion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  transform-origin: center;
  transition: all 0.3s;
}

.solution-conclusion-hover {
  transform: scale(1.02);
}

.solution-conclusion h3 {
  width: 50%;
  margin: 0 auto;
  line-height: 1.2rem;
}

#h3-white {
  color: #fff;
  clip-path: polygon(0% 0, 50% 0%, 50% 100%, 0 100%);
  position: relative;
  transform: translate(0, -100%);
}

/*----------------------------------------------- FOOTER ---------------------------------------------------*/

footer {
  background-color: #181818;
  padding: 25px;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 0px 10px 0px rgba(32, 33, 36, 0.75);
  box-shadow: 0 0px 10px 0px rgba(32, 33, 36, 0.75);
  z-index: 10;
}

.footer-img {
  width: 200px;
  height: 200px;
  transition: all 0.2s;
  border-radius: 50%;
}

.footer-img:hover {
  content: url("img/realive-green.png");
}

.footer-list-row {
  margin-top: 20px;
}

.fotter-list {
  color: #fff;
  width: 23.8%;
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  text-align: center;
}

.fotter-list:first-child {
  margin-left: 0;
}

.fotter-list h2 {
  font-size: 110%;
  text-transform: lowercase;
  font-weight: 900;
}

.fotter-list p {
  font-size: 80%;
  margin: 15px auto 0 auto;
  padding: 0 8px;
  border-bottom: 2px solid transparent;
  width: fit-content;
  transition: all 0.2s;
}

.fotter-list p:hover {
  color: #00ff19;
  border-color: #00ff19;
}

/*----------------------------------------------- ANIMATIONS ---------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

.shadow-pulse {
  -webkit-animation: shadow-pulse 1s infinite;
  animation: shadow-pulse 1s infinite;
}

/*----------------------------------------------- MOBILE NAV ---------------------------------------------------*/
.mobile-nav-icon {
  float: right;
  font-size: 30px;
  color: #fff;
  padding: 12.5px;
  display: none;
}

.section-link {
  height: 55px;
  width: 100%;
  z-index: -999;
  margin-top: -55px;
}

.underline {
  border-bottom: 2px solid #00ff19 !important;
  color: #00ff19 !important;
}
